.container {
  position: absolute;
  bottom: 10%;
  width: 98%;
  height: 135px;
  transition: opacity .3s ease-out;

  :global(.swiper-slide) {
    padding: 0 75px;
  }

  :global(.swiper-button-disabled) {
    opacity: 0;
  }

  :global(.swiper-button-next), :global(.swiper-button-prev) {
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 0px #3877EE1A;
    background: white;
    border-radius: 50%;
  }

  :global(.swiper-button-next::after), :global(.swiper-button-prev::after) {
    font-size: 10px;
  }

  :global(.swiper-pagination-bullet-active) {
    background: #42567A;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding-top: 20px;
    border-top: 1px solid #C7CDD9;
    bottom: 0;
    width: 280px;
    height: 50%;

    :global(.swiper-slide) {
      padding: 0;
    }

    :global(.swiper-slide:not(.swiper-slide-active)) {
      opacity: 50%;
    }
  }
}

