.container {
  font-family: PT Sans Bold;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  letter-spacing: -2%;
}


@media screen and (max-width: 320px) {
  .container {
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -2%;
  }
}
