.container {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;

  .circle {
    width: 530px;
    height: 530px;
    border: 1px solid rgb(66 86 122 / 20%);
    border-radius: 50%;
    transition: all 1.5s ease-out;

  }
}
