.container {
  position: absolute;
  font-family: PT Sans Regular;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  color: #42567A;
  top: -244px;
  left: 188px;
  transition: all .15s;
}
